body {
  margin: 0;
  overflow: hidden;
}

html * {
  font-family: Montserrat;
  color: var(--secondary-color);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: minmax(0, 3fr) repeat(4, minmax(0, 1.5fr));
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
}

.name-row {
  background-color: var(--primary-color);
  display: flex;
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

.name-text {
  margin-left: 5%;
  font-weight: 1000;
  font-size: 250%;
  background-color: var(--primary-color);
  white-space: nowrap;
  cursor: pointer;
  align-self: center;
}

.profile-pic {
  height: 100%;
}

.name-row-right-side {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 15vh;
  height: 15vh;
  padding: 1vh;
  margin-right: 1vw;
}

.deleteButton {
  width: 6vw;
  height: 4vh;
  margin-top: 1vh;
  margin-right: 1vw;
  background-color: var(--button-base-color);
  color: white;
}

.details {
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
  grid-template-columns: 1fr 3fr;
  border: 2px solid var(--secondary-color);
  border-top: 4px solid var(--secondary-color);
  background-color: var(--primary-color);
  grid-area: 2 / 1 / 4 / 3;
  overflow-y: hidden;
}

.writing {
  grid-area: 2 / 3 / 6 / 5;
  background-color: var(--primary-color);
  place-content: top;
  padding: 8px;
  border: 2px solid var(--secondary-color);
  border-top: 4px solid var(--secondary-color);
  overflow-y: scroll;
}

.sources {
  grid-column: 5 / 7;
  grid-row: 2 / 6;
  background-color: var(--primary-color);
  place-content: top;
  padding: 8px;
  border: 2px solid var(--secondary-color);
  border-top: 4px solid var(--secondary-color);
  overflow-y: scroll;
}

.relations {
  grid-area: 4 / 1 / 6 / 3;
  border: 2px solid var(--secondary-color);
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: var(--primary-color);
}

.details-header {
  font-weight: bolder;
  font-size: 175%;
  align-self: center;
  justify-self: center;
  overflow: hidden;
  min-width: 0;
}

.details-container {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  gap: 15%;
  justify-content: center;
  border-radius: 10px;
}

.details-container:hover,
.name-text:hover,
.add-button:hover,
.logo:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.detail {
  margin: 0;
}

.relation-container {
  width: 30%;
  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  outline: solid var(--secondary-color) 2px;
}

.relation-header {
  margin-left: 5%;
  margin-top: 5%;
  font-size: 1.2vw;
  font-weight: bold;
  margin-bottom: 0;
  text-wrap: nowrap;
}

.relative {
  margin-top: 0;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 1%;
  border-radius: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  overflow: visible;
}

.relative-hover {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
}

.relative:hover .relative-hover {
  display: block;
}


.relative p {
  color: black;
}

.popup-overlay {
  display: none;
  position: fixed;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup1 {
  min-width: 25%;
  max-height: 80%;
  font-family: Arial, sans-serif;
  background: var(--primary-color);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  display: none;
  border: 2px solid var(--secondary-color);
}

.popup2 {
  min-width: 25%;
  max-height: 80%;
  font-family: Arial, sans-serif;
  background: var(--primary-color);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  display: none;
  border: 2px solid var(--secondary-color);
}

.popup3 {
  min-width: 25%;
  max-height: 80%;
  font-family: Arial, sans-serif;
  background: var(--primary-color);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  display: none;
  flex-direction: column;
  border: 2px solid var(--secondary-color);
}

.popup-content {
  text-align: center;
}
.popup-content input,
.popup-content select,
.popup-content option {
  color: black;
}

.popup-content button {
    color: black;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.popup-input {
  display: block;
  width: 90%;
}

.text-input {
  width: 66vh;
  text-wrap: wrap;
  color: black;
}

#writingText,
#sourcesText {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.addperson {
  height: min-content;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.submit {
  min-width: 15%;
  border: none;
  padding: 15px;
  font-size: 150%;
  font-weight: bold;
  border-radius: 10px;
  background-color: var(--button-base-color);
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.dateInput input {
  width: 20%;
}

.addPerson-popup {
  width: 30vw;
}

#otherParentSelect {
    color: black;
}

.text-edit-button {
  cursor: pointer;
  width: fit-content;
}