#graph {
  overflow: hidden;
  overflow-x: hidden;
  background-color: var(--bg-color);
}
#graph * {
  color: black;
}
#navbar {
  display: flex;
  background-color: var(--primary-color);
  padding: 1vh;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s;
}
#logo {
  height: 5vh;
  padding-right: 2vw;
  background-color: var(--primary-color);
  transition: background-color 0.2s;
}
#logo:hover,
.map-style:hover {
  background-color: var(--hover-color);
}
#user {
  height: 5vh;
  margin-left: 1vw;
  z-index: 12;
  position: relative;
}
#user:hover {
  background-color: var(--hover-color);
}
.navbutton {
  padding: 1vh 0;
  flex-grow: 1;
  background-color: var(--primary-color);
  font-size: 2vh;
  border: 0px solid;
  border-radius: 0;
  border-left: 2px solid var(--secondary-color);
}
.navbutton:hover {
  background-color: var(--hover-color);
}
.navdiv {
  padding: 1vh 0;
  flex-grow: 1;
  background-color: var(--primary-color);
  font-size: 2vh;
  border: 0px solid;
  border-radius: 0;
  border-left: 2px solid var(--secondary-color);
  transition: background-color 0.2s;
}

.path {
  stroke-width: 8px;
  stroke: var(--connector-color);
  marker-end: none;
}

.node rect {
  stroke-width: 0;
}

html * {
  font-family: Montserrat !important;
  color: var(--secondary-color);
  transition: color 0.2s;
}

body {
  margin: 0;
  overflow: hidden;
}

.popup {
  min-width: 25%;
  max-height: 70%;
  font-family: Arial, sans-serif;
  background: var(--primary-color);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  transition: background-color 0.2s;
}

.popup-content {
  text-align: center;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.popup-input {
  width: 90%;
  display: block;
  color: black;
  background-color: white;
  transition: color 0.2s;
}

.popup select {
  color: black;
  background-color: white;
  transition: color 0.2s;
}

.popup option {
  color: var(--secondary-color);
  transition: color 0.2s;
}

.popup button {
  background-color: var(--button-on-color);
  color: var(--primary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s;
}

.popup-overlay {
  display: none;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  gap: 4vh;
}

g.male > rect {
  fill: #00c4f3;
}

g.female > rect {
  fill: #ff72af;
}

g.female > rect {
  fill: #757575;
}

g.info > rect {
  fill: green;
}

g.marriage > rect {
  width: 0;
  height: 0;
}

g p {
  white-space: normal;
}

.row {
  display: flex;
  flex-direction: row;
}

.map-style {
  position: absolute;
  left: 95vw;
  width: 5vw;
}

hr {
  display: block;
  height: 1vh;
  border: 0;
  border-top: 0.1vh solid var(--secondary-color);
  margin: 1em 0;
  padding: 0;
  transition: border-top 0.2s;
}

.submit {
  min-width: 15%;
  border: none;
  padding: 15px;
  font-size: 150%;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  background-color: var(--button-on-color);
}

.stylepopup {
  width: 65vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  grid-template-rows: 4fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}   

.style-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    padding-top: 0%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    transition: border 0.2s;
  }


.style-picker button {
    width: 80%;
}

.info-style-options {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    transition: border 0.2s;
}

#info-style-options-header {
    margin-bottom: 0;
}

.info-style-options-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-style-options-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-style-options-column input {
  color: black;
}

.connector-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  padding-top: 5%;
  gap: 5%;
}

.connector-picker h4 {
  margin: 0;
}

.connector-picker select {
  width: fit-content;
  color: black;
}

.connector-picker option {
  color: black;
}

.connector-picker input {
  width: 2vw;
}

.row {
  display: flex;
  flex-direction: row;
}

#connector-default-button, #bg-default-button {
  margin: 0;
  margin-left: 0.5vw;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}

.background-style {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.background-style h4 {
  margin: 0;
}

#user:hover + .account-popup, .account-popup:hover {
  display: flex;
}

.account-popup {
  z-index: 11;
  top: 8vh;
  right: 4vw;
  display: none;
  background-color: var(--primary-color);
  padding: 1vw;
  border-radius: 1vh;
  position: absolute;
  flex-direction: column;
}

.account-popup button {
  border: 0px solid;
  background-color: var(--primary-color);
}

.account-popup button:hover {
  background-color: var(--hover-color);
}

.style-checkboxes {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dateInput input {
  width: 15%;
}

.addPerson-popup {
  width: 30vw;
}