:root {
    --bg-color: red;
    --text-color: red;
    --primary-color: red;
    --secondary-text-color:red;
    --hover-color: red;
    --button-base-hover-color: red;
    --button-off-hover-color: red;
    --button-on-hover-color: red;

}
body {
    background-color: var(--bg-color);
    margin: 0;
    font-family: Montserrat !important;
    color: var(--text-color);
}
#logo {
    height: 5vh;
    padding-right: 100vw;
    background-color: var(--primary-color);
    transition: color 0.3s ease, background-color 0.3s ease;
    border-bottom: 2px solid var(--secondary-color);
    
}
#logo:hover {
    background-color: var(--hover-color);
}
  
ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: var(--primary-color);
    position: fixed;
    height: 100%;
    overflow: auto;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hoverable {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 2px solid var(--secondary-color);
    transition: color 0.3s ease, background-color 0.3s ease;
    font-size: 2vh;
    text-decoration: none;
    color: var(--text-color);
}
  
.hoverable.active {
    background-color: black;
    color: white;
}
  
.hoverable:hover:not(.active) {
    background-color: var(--hover-color);
    color: white;
}

.setting {
    margin-left:15%;
    padding:1px 16px;
    height:1000px;
}


.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    padding-top: 10px;
    width: 25%;
  }
  .container > div {
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }
.noShow{display: none;}

.button {
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }



.selection{
    appearance: none;
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



.checkbox {
    width: 50px;
    height: 30px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: var(--primary-color);
    border-radius: 5px;
    width: 20%;
    position: relative;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: hidden;
  }
  .content{
    color: var(--text-color);
  }
  .overlay_input{

    padding-right: 100vw;

    font-size: 16px;
  }










  .button_two {
    padding-right: 100vw;

    background-color: var(--bg-color);
    border: none;
    color: var(--text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.error {
    color: red;
}
